<div class="container">
    <div>
        <h2>Modifier un Patient :</h2>
        <div *ngIf="message" class="alert alert-success">
            {{ message }}
          </div>

    </div>
    <form>
        <div  class="col-sm-2 col-md-2 col-lg-2">
            <label>ID Patient</label>
            <input  readonly type="text" [(ngModel)]="currentPatient.idPatient" name="idPatient" class="form-control">
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom Patient</label>
            <input type="text" [(ngModel)]="currentPatient.nomPatient" name="nomPatient" class="form-control">
        </div>

        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Prenom Patient</label>
            <input type="text" [(ngModel)]="currentPatient.prenomPatient" name="prenomPatient" class="form-control">
        </div>

        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Telephone Patient</label>
            <input type="text" [(ngModel)]="currentPatient.phonePatient" name="phonePatient" class="form-control">
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date création</label>
            <input type="date" [(ngModel)]="currentPatient.dateCreation" name="dateCreation" class="form-control">
        </div>


        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Doctors modifier:</label>
            <select class="form-control form-control-lg" id="id_doct" name="id_doct" [(ngModel)]="updatedDoctId">
              <option *ngFor="let doct of doctors" [value]="doct.id_doct">
                {{ doct.nomDoct }} {{ doct.prenomDoct }}
              </option>
              <option *ngIf="!updatedDoctId" disabled selected>No doctor assigned</option>
            </select>
          </div>
          
          

        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Specilaiter de medcine:</label>
            <select class="form-control form-control-lg" id="id_doct" name="id_doct"[(ngModel)]="updatedDoctId">
                <option *ngFor="let doct of doctors" [value]="doct.id_doct">
                    {{doct.specialite}} 
                  </option>
             </select>
        </div>
            
        <div class="mt-2">
            <button type="submit" (click)="updatePatient()" class="btn btn-success">Modifier</button>
        </div>
    </form>
</div>
