

    
<div class="container">
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label>Nom Patient  en tapant</label>
        <input #nom [(ngModel)]="searchTerm" name="searchTerm" class="form-control" >        </div>
</form>


    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Id Patient</th>
                            <th>Nom Patient</th>
                            <th>Prénom Patient</th>
                            <th>Téléphone Patient</th>
                            <th>Maladie Patient</th>
                            <th>Date Création</th>
                            <th>Nom de medecin</th>
                            <th>Specialite de medicin</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pat of patients | searchFilter: searchTerm"> <!-- Change 'patients' to 'patient' -->
                            <td>{{ pat.idPatient }}</td>
                            <td>{{ pat.nomPatient }}</td>
                            <td>{{ pat.prenomPatient }}</td>
                            <td>{{ pat.phonePatient }}</td>
                            <td>{{ pat.maladiePatient }}</td>
                            <td>{{ pat.dateCreation | date: 'dd/MM/yyyy' }}</td>
                            <td>{{ pat.doctor.nomDoct }} {{ pat.doctor.prenomDoct }}</td>
                            <td>{{ pat.doctor.specialite }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
