<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Id Patient</th>
                            <th>Nom Patient</th>
                            <th>Prénom Patient</th>
                            <th>Téléphone Patient</th>
                            <th>Maladie Patient</th>
                            <th>Date Création</th>
                            <th>Nom du Médecin</th>
                            <th>Spécialité du Médecin</th>
                            <th>Actions</th> <!-- Colonne pour les actions -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of patients">
                            <td>{{ p.idPatient }}</td>
                            <td>{{ p.nomPatient }}</td>
                            <td>{{ p.prenomPatient }}</td>
                            <td>{{ p.phonePatient }}</td>
                            <td>{{ p.maladiePatient }}</td>
                            <td>{{ p.dateCreation | date: 'dd/MM/yyyy' }}</td>
                            <td>{{ p.doctor?.nomDoct }} {{ p.doctor?.prenomDoct }}</td>
                            <td>{{ p.doctor?.specialite }}</td>

                            <td>
                                <!-- Bouton Supprimer pour Admins -->
                                <a *ngIf="authService.isAdmin()" 
                                   class="btn btn-danger btn-sm" 
                                   (click)="supprimerPatient(p)">Supprimer</a>
                            </td>
                            <td>
                                <!-- Bouton Modifier pour Admins -->
                                <a *ngIf="authService.isAdmin()" 
                                   class="btn btn-success btn-sm" 
                                   [routerLink]="['/updatePatient', p.idPatient]">Modifier</a>
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
